<div class="container home-block">
  <div class="page-header">
    <h1>United By Code <small>A weekly newsletter of the best jobs in tech</small></h1>
      <p>Brought to you by <a href="http://www.benstew.com"><strong>Ben Stew</strong></a></p>
  </div>

  <div id="wrapper"> 
    <div id="PhoneHolder">
      <div id="info">
        <p class="form-description">Exclusive opportunities from vetted companies seeking people with less traditional and/or under represented backgrounds</p>
        <div id="desktop"><%= render 'form' %></div>
      </div>

      <div id="phone">
        <div id="PhoneContent">
          <iframe src="http://www.benstew.com/newsletter-sample/" style="border:none" class="frame" scrolling="yes"></iframe>
        </div>
      </div>
      <div id="tryout"></div>
    </div>
  </div>
</div>
